<h1>Welcome Team <%= @teams.name %>!</h1>
<h2>Your roster of Superheros includes:</h2>
<h3>Name: <%=@superheros.name%></h3>
<h3>Super Power: <%=@superheros.power%></h3>
<h3>Bio: <%=@superheros.bio%></h3>
<h2>Good luck, be safe, <%=@teams.motto%>!</h2>




